Azure Data Factory/Azure Data Factory/pipeline/L1_Master_Ingestion.json
{
	"name": "L1_Master_Ingestion",
	"properties": {
		"description": "L1_Master_Ingestion",
		"activities": [
			{
				"name": "Setting up Trigger Variable",
				"description": "Setting up Trigger Variable",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Trigger_Variable",
					"value": {
						"value": "@if(equals(pipeline().parameters.Trigger,null),pipeline().TriggerName,pipeline().parameters.Trigger)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute Ingest Raw",
				"description": "Execute Ingest Raw",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Setting up Trigger Variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "L2_Raw_Ingestion",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Trigger": {
							"value": "@variables('Trigger_Variable')",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"Trigger": {
				"type": "string"
			}
		},
		"variables": {
			"Trigger_Variable": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-01-25T15:43:27Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}