Azure Data Factory/Azure Data Factory/pipeline/L4_FileType.json
{
	"name": "L4_FileType",
	"properties": {
		"description": "L4_FileType",
		"activities": [
			{
				"name": "LU_Get_L4_Type",
				"description": "LU_Get_L4_Type",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select distinct L4_switch_type from dbo.tbl_job a join dbo.tbl_trigger b on a.trigger_id = b.trigger_id where b.trigger_name = '@{pipeline().parameters.Trigger}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Azure_Sql_MetaData",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Switching Over File Type",
				"description": "Switching Over File Type",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "LU_Get_L4_Type",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@activity('LU_Get_L4_Type').output.firstRow.L4_switch_type",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "csv",
							"activities": [
								{
									"name": "Execute L5 File Transfer Pipeline",
									"description": "Execute L5 File Transfer Pipeline",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "L5_1_CSV",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Trigger": {
												"value": "@pipeline().parameters.Trigger",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "excel",
							"activities": [
								{
									"name": "Execute Excel Pipeline",
									"description": "Execute Excel Pipeline",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "L5_2_EXCEL",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Trigger": {
												"value": "@pipeline().parameters.Trigger",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "Parquet",
							"activities": [
								{
									"name": "Wait Acitivity 11",
									"description": "Wait Acitivity 11",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 10
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"Trigger": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-02-27T05:42:57Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}