Azure Data Factory/Azure Data Factory/pipeline/L5_2_API.json
{
	"name": "L5_2_API",
	"properties": {
		"description": "L5_2_API",
		"activities": [
			{
				"name": "Logging the Entry of the Job",
				"description": "Logging the Entry of the Job",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Getting the job details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[start_log_entry]",
					"storedProcedureParameters": {
						"jobid": {
							"value": {
								"value": "@activity('Getting the job details').output.firstRow.jobid",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"pipeline_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_Azure_SQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copying",
				"description": "Copying ",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Logging the Entry of the Job",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ""
						}
					},
					"enableStaging": false,
					"translator": {
						"value": "@json(variables('Mapping'))",
						"type": "Expression"
					}
				},
				"inputs": [
					{
						"referenceName": "DS_REST",
						"type": "DatasetReference",
						"parameters": {
							"Base_URL": {
								"value": "@activity('Getting the job details').output.firstRow.SourceUrl",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLS",
						"type": "DatasetReference",
						"parameters": {
							"Storage_Acc_Location": {
								"value": "@activity('Getting the job details').output.firstRow.TargetAccount",
								"type": "Expression"
							},
							"DesctinationContainer": {
								"value": "@activity('Getting the job details').output.firstRow.tgt_dir",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Logging the entry for Success Job log",
				"description": "Logging the entry for Success Job log",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copying",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[end_log_entry]",
					"storedProcedureParameters": {
						"error": {
							"value": null,
							"type": "String"
						},
						"jobid": {
							"value": {
								"value": "@activity('Getting the job details').output.firstRow.jobid",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"pipeline_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_Azure_SQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Logging the entry for Failure Job log",
				"description": "Logging the entry for Failure Job log",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copying",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[end_log_entry]",
					"storedProcedureParameters": {
						"error": {
							"value": {
								"value": "@activity('Copying').output.error[0].message",
								"type": "Expression"
							},
							"type": "String"
						},
						"jobid": {
							"value": {
								"value": "@activity('Getting the job details').output.firstRow.jobid",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"pipeline_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_Azure_SQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Email Alert for Successfull Job",
				"description": "Email Alert for Successfull Job",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Logging the entry for Success Job log",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-21.centralindia.logic.azure.com:443/workflows/f0432634b86443cdb076439c081670e1/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=cdA4KcMya2bs2JHxE93QjczMThzg5UqoZMeu0eoc5pg",
					"body": {
						"value": "{\"type\":\"PipelineFailureAlert\",\"properties\":{\"PipelineName\":{\"type\":\"@{pipeline().Pipeline}\"},\"DataFactoryName\":{\"type\":\"@{pipeline().DataFactory}\"},\"Run ID\":{\"type\":\"@{pipeline().RunId}\"},\"status\":{\"type\":\"@{activity('Copying').Status}\"},\"Logs\":{\"type\":\"@{if(empty(activity('Copying').output.errors), 'No errors reported.', activity('Copying').output.errors[0].Message)}\"}}}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Email Alert for Failure Job",
				"description": "Email Alert for Failure Job",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Logging the entry for Failure Job log",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-21.centralindia.logic.azure.com:443/workflows/f0432634b86443cdb076439c081670e1/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=cdA4KcMya2bs2JHxE93QjczMThzg5UqoZMeu0eoc5pg",
					"body": {
						"type": "PipelineFailureAlert",
						"properties": {
							"PipelineName": {
								"type": "@{pipeline().Pipeline}"
							},
							"DataFactoryName": {
								"type": "@{pipeline().DataFactory}"
							},
							"Run ID": {
								"type": "@{pipeline().RunId}"
							},
							"status": {
								"type": "@{activity('Copying').Status}"
							},
							"Logs": {
								"type": "@{if(empty(activity('Copying').output.errors), 'No errors reported.', activity('Copying').output.errors[0].Message)}"
							}
						}
					}
				}
			},
			{
				"name": "Getting the job details",
				"description": "Getting the job details",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[get_job_dtls]",
						"storedProcedureParameters": {
							"TriggerName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.Trigger",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Azure_Sql_MetaData",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"Trigger": {
				"type": "string"
			}
		},
		"variables": {
			"Mapping": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-01-12T17:43:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}